*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
    scroll-behavior: smooth;

}
 @font-face {
    font-family: 'Oswald';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Oswal-Regular.woff) format('woff');
    font-display: swap

}
a, button{
    transition: 0.4s;
}


/* mobile */


.ulMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

/* hamburger */

#nav-icon2 {
    margin-right: 3%;
    width: 30px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    
  }
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #FFDF3C;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  
  }
  
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }
  
  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: 12px;
  }
  
  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: 24px;
  }
  
  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 0px);
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 17px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 1px);
    top: 16px;
  }
  
  .active {
    display: block;
  }
    
  .none{
    display: none;
  }









.home_lock{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* end mobile */
header{
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    align-items: center;
    border-bottom: 1px solid white;
}
header a img{
    width: 60%;
}
header ul{
    display: flex;
    justify-content: center;
}
header ul li {
    padding:0 50px;
    letter-spacing: 1px;
    font-size: 14px;
}

.reg{
    padding: 1% 2%;
    background-color: transparent;
    border: 2px solid #FFDF3C;
    border-radius: 10px;
}
.reg_img{
    width: 30%;
}
.port{
    padding: 4% 0;
    background-image: url(../img/hero-bg.webp);
    background-color: #272727;

}
.reg_pole{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #383838 right center/cover no-repeat;
    padding: 0 2%;
}
.dan{
    line-height: 2;
}

.big_reg{
    background-image: url(../img/hero-bg.webp);
    display: flex;
    justify-content: center;
    padding: 5% 0;
}
.reg_pole img{
    width: 40%;
}
.dan{
    margin-bottom: 8%;
}
.call{
    padding: 3% 8%;
    background-color: #919191;
    border-radius: 10px;
    font-size: 20px;
}
.call:hover, .call:focus{
    background-color: #000;

}

/* main */

main{
    background-image: url(../img/hero-bg.webp);
    padding: 2% 5% 2% 0;
    background-color: #272727;

}
.collage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero{
    width:60%;
}
.otzyv{
    position: absolute;
    left: 5%;
    bottom: 50%;
    width: 184px;
    height: 103px;
    background: center/cover no-repeat;
    z-index: 3;
}

.right h1{
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_svg{
    background-image: url(../img/hero-title-icon.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 60px;
    height: 60px;
}
.free{
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-flex;
    align-items: center;
    padding:8px 18px 8px 8px;
    border-radius: 50px;
    margin-bottom: 2%;
}
.free p{
    padding-left: 30px;
}
.yellow{
    color: #FFDF3C;
} 
.red{
    color: #DF000A;
}
.bold{
    font-weight: 700;
}
.bottom{
    margin: -5% 2.5%;
    background-image: url(../img/hero-reg-bg.webp);
    width: 100%;
    padding: 60px;
    border-radius: 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-color: #272727;
    position: relative;
    margin-bottom: 5%;
}
.bottom p, .bottom span{
    color:black !important ;
    padding: 0 0 10px;
    font-size: 18px;



}
form input, form button{
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
}
form input{
color: black;

}
form button{
    background-color: black;
    /* margin-left: 30px; */
    font-weight: 700;
}
.btn_yellow{
    background-color: #FFDF3C !important;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 7px;
    border: none;
    color: black;
    background: #fff url(../img/btn-icon-dark.svg) 90% center/20px no-repeat;
    font-weight: 800;


}
.btn_yellow:hover{
    background: #000 url(../img/btn-icon-light.svg) 90% center/20px no-repeat;
    background-color: #000 !important;
    color: #fff;

}
.btn_dark{
    background-color: #000;
    border-radius: 5px;
    padding: 4% 2%;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.btn_dark:hover {
    background: #FFDF3C;
    color: #000;
    border: 1px solid #717171;
box-shadow: 2px 5px 5px #717171;
font-size: 16px;

}

.right_img{
    position: absolute;
    width: 30%;
    left: 60%;
    top: -15%;
}


/* second */

.second{
    padding: 5% 0 0;
    background-color: #272727;
    
}
.second h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    line-height: 1.5;
}
.second_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second_main img{
    width: 45%;
}

.l_bl{
    max-width: 400px;
    background: rgba(58, 58, 58, 0.86);
    border-radius: 10px;
    padding: 40px;
    min-height: 230px;
    transition: 0.4s ease;
    margin: 30px;

}
.l_bl svg{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
}

.block4{
    background-color: white !important; 
}
.block4 p{
    color: black !important;

}


/* third */
.third{
padding: 3% 0 2%;
background-color: #fff;
}
.third h3{
    color: #000 !important;
    text-align: center;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
.third_collage{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}
.th1{
border: 1px solid #eee;
 margin: 0 2%;
 min-height: 350px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 2% 1%;
}
.th1 p{
    color: #000 !important;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 100;

}
.th1 img{
    background: center/contain no-repeat;
    width: 350px;

}
.gray{
    background-color: #eee;   

}
.tazegray{
    background-color: #eee;
    color: #000 !important;

}
.th1 img{
    padding: 0 2%;
}

/* fourth */

.fourth{
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fourth_2 h4{
    padding: 2% 0 1%;
        color: #000 !important;
        width: 70%;
        font-size: 32px;
        font-family:  Helvetica, sans-serif;
        font-weight: 500;
}
.fourth_2 p{
    color: #000 !important;
    font-size: 20px;
}




/* fourth line */

.line{
    border-bottom: 3px solid #eee ;
    margin: 0 8%;
}


/* five */

.five_main{
    background-color: #272727;
}
.five{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.five_left{
    flex: 0 0 50%;
    padding: 2% 2% 2% 1%;
}
.five_p{
    line-height: 2;
}
.big{
    font-size: 60px ;
    font-family: 'Oswald', sans-serif;
}
.yellow_big{
    color: #FFDF3C;
    font-size: 60px ;
    font-family: 'Oswald', sans-serif;
}
.five_ul li{
    list-style: inside;
    line-height: 3;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.five_right{
background-image: url(../img/r.webp);
position: absolute;
    right: 5%;
    height: 100%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}



.lecture{
    width: 20%;
    position: absolute;
    right: 10%;
    top: 65%;
}

.five_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;

}
.five_bottom_col{
    display: flex;
    flex-direction: column;
    background: #383838;
    padding: 35px;
    font-size:18px;
    border-radius: 10px ;
    height: 100%;
    margin: 0 10px;
}
.five_bottom_col span{
    margin-bottom: 4%;
}

.five_main{
    padding: 2% 2% 5%;
}
.five_bot{
    margin: 0 5% 0 0;
}

/* six */


.six{
    background-image: url(../img/result-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 0 0;
}

.title{
    font-size: 45px;
    color: #000;
    width: 50%;
    padding: 0 2%;
}

.six_collage{
    padding: 4% 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.six_cl{
    background: #272727;
    padding: 40px;
    border-radius: 10px;
    height: 100%;
    margin: 0 2%;
}
.six_cl p{
    line-height: 1.5;
    font-size: 18px;
    font-weight: 100;
}
.six_cl-up{
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

.six_cl-up img{
    margin-right: 5%;
    width: 20%;
}

.six_pallet{
    display: flex;
    background: #EEEEEE;
    border-radius: 10px;
    margin-top: 4%;
    padding: 4% 6%;
    max-height: 55%;
    position: relative;
}
.left_img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 486px;
    width: 574px;
}
.six_right img{
    width: 40%;
}



.six_pallet_title{
    font-size: 50px;
    color: #000 !important;
    width: 60%;
}
.six_main_collage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.six_collage img{
    width: 100%;
}
.six_collage img{
  cursor: pointer;
  transition-property: max-width, max-height, left, top;
  transition-duration: 0.3s;
}


/* seven */


.seven{
    background-color: #272727;
    padding: 7% 3%;
}
.seven_title{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}


.seven_bot{
    margin: 5% 0 7%;
}
.seven_text{
    font-size: 12px;
    text-align: center;
    font-weight: 100;
}


/* footer */

footer{
    background-color: #272727;
    border-top: 0.5px solid white;
    padding: 0% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer img{
    width: 12%;

}
.footer_main, .footer_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left p{
    margin: 0 15px;
}


.footer_right{
    display: flex;
    align-items: center;
}
.footer_right img{
    margin-right: 5%;
}
/* foto */

.gallery {
    position: relative; display: flex; flex-flow: row wrap;
    justify-content: space-evenly; align-items: center;
    height: 100%; width: 90%; margin: 0 auto;
    padding: 0 0 1%;
  }
  .gallery img {
    height: auto; max-width: 350px; margin: 10px;
    box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191;
    transition: .3s linear; cursor: pointer;
  }
  .show img { opacity: .25; pointer-events: none; }
  .active {
    transition: box-shadow .3s linear .3s, top 1s ease-out, left 0.5s ease-out, transform 0.5s ease-out, width 0.5s ease-in, height 0.5s ease-in;
    box-shadow: 0 0 0 10px #fff; filter: drop-shadow(1px 2px 6px #000);
    pointer-events: none;
  }
  .close {
    position: relative; left: 100%;
    height: 20px; width: 20px;
    transform: translate(0%, -100%);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff, 0 0 2px 2px #000;
    font: bold 20px/20px Arial; text-align: center;
    background-color: #000; color: #fff;
    pointer-events: auto; cursor: pointer;
    transition: 1s linear; opacity: 0;
  }
/* foto end */
.bigger{
    font-size: 25px;
    font-weight: 400;
}

/* prosto */
.gorayda{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-icon2 {
    display: none;
  }
 .drop{
    background-color: #272727;
    border-bottom: 1px solid #eee;
    transition: 0.5s ease 
} 
 .drop ul li{
    margin: 5% 0;
 }
.reg_header{
    background-color: #272727;
    justify-content: center;
}
.reg_header img{
    width: 25%;
}
.photoGallery{
    background-color: #fff;
    min-width: 20% ;
}
.reg_img{
    width: 20%;
}
 @media (min-width:320px) and (max-width:393px) {
    .left_ph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        padding: 0;
    }
    .reg_img{
        width: 100%;
    }
.photoGallery a img{
    width: 94%;
    background-color: transparent;
}
    header a img{
        width: 50%;
    }
    .reg_pole{
        flex-direction: column-reverse;
        border-radius: 8px;
        width: 95%;
        padding: 6% 0;
    }
    .reg_pole img{
        width: 100%;
    }
    .dan{
        text-align: center;
    }
    .dan h1{
        font-size: 22px;
    }
    .call{
        font-size: 17px;
    }
    .big_dan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #nav-icon2{
        display: block;
    }
    .mobileKill{
        display: none;
    }
    .otzyv{
        display: none;
    }
    .collage{
        flex-direction: column-reverse;
    }
    .right{
        padding: 0 5%;
    }
    .title_svg{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form button{
        margin: 5% 0;
    }
    .second h2, .third h3{
        font-size: 25px;
        padding: 0 2%;
    }
    .l_bl{
        margin: 4%;
        padding: 5%;
        min-height: 150px;
    }
    .second_main{
        flex-direction: column;
    }
    .third_collage{
        flex-direction: column;
        background-color: antiquewhite;
    }
    .th1{
        min-height: fit-content;
        padding: 2% 3%;
        margin: 0 2% 4%;
    }
    .th1 img{
        width: auto;
    }
    .th1 p{
        font-size: 16px;
    }
    .fourth{
        flex-direction: column;
        margin: 4% 0;
    }
    .fourth_2 h4{
        margin-bottom: 3%;
        width: auto;
        font-size: 17px;
    }
    .five{
        flex-direction: column;
    }
    .five_right{
        display: none;
    }
    .five_left p:first-child{
        font-size: 25px;
    }
    .yellow_big{
        font-size: 25px;
    }
    .five_p{
        font-size: 15px;
        line-height: 1.7;
        margin: 5% 0;
    }
    .right_img{
        display: none;
    }
    .five_bot{
        margin: 0;
    }
    .bottom{
        padding: 20px;
    }
    .title{
        font-size: 25px;
        width: auto;
    }
    .noneInWeb{
        display: block;
    }
    .slideshow-container{
        padding: 5% 4%;
    }
    .seven_title{
        font-size: 20px;
    }
    footer img{
        width: 25%;
    }
    footer a{
        cursor: pointer;
        transition: 0.4s;
        font-size: 12px;
    }
    .btn_yellow{
        padding: 3.5% 14%;
        font-weight: 700;
    }
    form input, form button {
        padding: 4%;
    }
    form button{
        display: flex;
    }
    .gallery img {
        height: auto; width: 40%; margin: 10px;
      }
  }

  @media (min-width:393px) and (max-width:425px) {
    .left_ph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        padding: 0;
    }
    .reg_img{
        width: 100%;
    }
    .photoGallery a img{
        width: 95%;
        background-color: transparent;
    }
    header a img{
        width: 50%;
    }
    .reg_pole{
        flex-direction: column-reverse;
        border-radius: 8px;
        width: 95%;
        padding: 6% 0;
    }
    .reg_pole img{
        width: 100%;
    }
    .dan{
        text-align: center;
    }
    .dan h1{
        font-size: 22px;
    }
    .call{
        font-size: 17px;
    }
    .big_dan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gallery img {
        height: auto; width: 40%; margin: 10px;
      }
    #nav-icon2{
        display: block;
    }
    .mobileKill{
        display: none;
    }
    .otzyv{
        display: none;
    }
    .collage{
        flex-direction: column-reverse;
    }
    .right{
        padding: 0 5%;
    }
    .title_svg{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form button{
        margin: 5% 0;
    }
    .second h2, .third h3{
        font-size: 25px;
        padding: 0 2%;
    }
    .l_bl{
        margin: 4%;
        padding: 5%;
        min-height: 150px;
    }
    .second_main{
        flex-direction: column;
    }
    .third_collage{
        flex-direction: column;
        background-color: antiquewhite;
    }
    .th1{
        min-height: fit-content;
        padding: 2% 3%;
        margin: 0 2% 4%;
    }
    .th1 img{
        width: auto;
    }
    .th1 p{
        font-size: 16px;
    }
    .fourth{
        flex-direction: column;
        margin: 4% 0;
    }
    .fourth_2 h4{
        margin-bottom: 3%;
        width: auto;
        font-size: 17px;
    }
    .five{
        flex-direction: column;
    }
    .five_right{
        display: none;
    }
    .five_left p:first-child{
        font-size: 25px;
    }
    .yellow_big{
        font-size: 25px;
    }
    .five_p{
        font-size: 15px;
        line-height: 1.7;
        margin: 5% 0;
    }
    .right_img{
        display: none;
    }
    .five_bot{
        margin: 0;
    }
    .bottom{
        padding: 20px;
    }
    .title{
        font-size: 25px;
        width: auto;
    }
    .noneInWeb{
        display: block;
    }
    .slideshow-container{
        padding: 5% 4%;
    }
    .seven_title{
        font-size: 20px;
    }
    footer img{
        width: 25%;
    }
    footer a{
        cursor: pointer;
        transition: 0.4s;
        font-size: 12px;
    }
    .btn_yellow{
        padding: 3.5% 14%;
        font-weight: 700;
    }
    form input, form button {
        padding: 4%;
    }
    form button{
        display: flex;
    }
  }

 @media (min-width:425px) and (max-width:768px){
    .left_ph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        padding: 0;
    }
    .reg_img{
        width: 100%;
    }
    .photoGallery a img{
        width: 95%;
        background-color: transparent;
    }
    header a img{
        width: 50%;
    }
    .reg_pole{
        flex-direction: column-reverse;
        border-radius: 8px;
        width: 95%;
        padding: 6% 0;
    }
    .reg_pole img{
        width: 100%;
    }
    .dan{
        text-align: center;
    }
    .dan h1{
        font-size: 22px;
    }
    .call{
        font-size: 17px;
    }
    .big_dan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .gallery img {
        height: auto; width: 40%; margin: 10px;
      }
    #nav-icon2{
        display: block;
    }
    .mobileKill{
        display: none;
    }
    .otzyv{
        display: none;
    }
    .collage{
        flex-direction: column-reverse;
    }
    .right{
        padding: 0 5%;
    }
    .title_svg{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form button{
        margin: 5% 0;
    }
    .second h2, .third h3{
        font-size: 25px;
        padding: 0 2%;
    }
    .l_bl{
        margin: 4%;
        padding: 5%;
        min-height: 150px;
    }
    .second_main{
        flex-direction: column;
    }
    .third_collage{
        flex-direction: column;
        background-color: antiquewhite;
    }
    .th1{
        min-height: fit-content;
        padding: 2% 3%;
        margin: 0 2% 4%;
    }
    .th1 img{
        width: auto;
    }
    .th1 p{
        font-size: 16px;
    }
    .fourth{
        flex-direction: column;
        margin: 4% 0;
    }
    .fourth_2 h4{
        margin-bottom: 3%;
        width: auto;
        font-size: 17px;
    }
    .five{
        flex-direction: column;
    }
    .five_right{
        display: none;
    }
    .five_left p:first-child{
        font-size: 25px;
    }
    .yellow_big{
        font-size: 25px;
    }
    .five_p{
        font-size: 15px;
        line-height: 1.7;
        margin: 5% 0;
    }
    .right_img{
        display: none;
    }
    .five_bot{
        margin: 0;
    }
    .bottom{
        padding: 20px;
    }
    .title{
        font-size: 25px;
        width: auto;
    }
    .noneInWeb{
        display: block;
    }
    .slideshow-container{
        padding: 5% 4%;
    }
    .seven_title{
        font-size: 20px;
    }
    footer img{
        width: 25%;
    }
    footer a{
        cursor: pointer;
        transition: 0.4s;
        font-size: 12px;
    }
    .btn_yellow{
        padding: 3.5% 14%;
        font-weight: 700;
    }
    form input, form button {
        padding: 4%;
    }
    form button{
        display: flex;
    }
  }
  @media (min-width:768px) and (max-width:1024px) {
    header a img{
        width: 50%;
    }
    .gallery img {
        height: auto; width: 40%; margin: 10px;
      }
    #nav-icon2{
        display: block;
    }
    .mobileKill{
        display: none;
    }
    .otzyv{
        display: none;
    }
    .collage{
        flex-direction: column-reverse;
    }
    .right{
        padding: 0 5%;
    }
    .title_svg{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form button{
        margin: 5% 0;
    }
    .second h2, .third h3{
        font-size: 25px;
        padding: 0 2%;
    }
    .l_bl{
        margin: 4%;
        padding: 5%;
        min-height: 150px;
    }
    .second_main{
        flex-direction: row;
    }
    .third_collage{
        flex-direction: column;
        background-color: antiquewhite;
        justify-content: center;
        align-items: center;
    }
    .th1{
        min-height: fit-content;
        padding: 2% 3%;
        margin: 0 2% 4%;
        width: 50%;
    }
    .th1 img{
        width: auto;
    }
    .th1 p{
        font-size: 16px;
    }
    .fourth{
        flex-direction: column;
    }
    .fourth_2 h4{
        margin-bottom: 3%;
        width: auto;
        font-size: 17px;
    }
    .five{
        flex-direction: column;
    }
    .five_right{
        display: none;
    }
    .five_left p:first-child{
        font-size: 25px;
    }
    .yellow_big{
        font-size: 25px;
    }
    .five_p{
        font-size: 15px;
        line-height: 1.7;
    }
    .right_img{
        display: none;
    }
    .five_bot{
        margin: 0;
    }
    .hero{
        width: 70%;
    }
    .bottom{
        padding: 25px;
        justify-content: center;
    }
    .title{
        font-size: 30px;
        width: auto;
    }
    .noneInWeb{
        display: block;
    }
    .slideshow-container{
        padding: 5% 4%;
    }
    .seven_title{
        font-size: 20px;
    }
    footer img{
        width: 25%;
    }
    footer a{
        cursor: pointer;
        transition: 0.4s;
    }
    .btn_yellow{
        padding: 3.5% 14%;
        font-weight: 700;
    }
    form input, form button {
        padding: 4%;
    }
    form button{
        display: flex;
    }
  } 

/* hover */
 a:hover{
    color: #FFDF3C;
    /* width: 40%; */
}
button:hover{
    background-color: white;
    color: black;
}
